In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split

# Загрузка данных

In [3]:
import os

In [9]:
ds = pd.read_csv('Advertising.csv', index_col=0)
print(ds.shape)
ds.head()

(200, 4)

      TV  radio  newspaper  sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9

# Домашнее задание

## 1.Разделить дата сет на трейн и тест в отношение 50:50 70:30 80:20 (с перемешиванием)

In [23]:
data_50 = train_test_split(ds.drop('sales',1), ds['sales'], train_size=0.5, shuffle=True)
for cds, name in zip(data_50, ['X_train','X_test','Y_train','Y_test']):
    print(name,cds.shape)

X_train (100, 3)
X_test (100, 3)
Y_train (100,)
Y_test (100,)

In [24]:
data_70 = train_test_split(ds.drop('sales',1), ds['sales'], train_size=0.7, shuffle=True)
for cds, name in zip(data_70, ['X_train','X_test','Y_train','Y_test']):
    print(name,cds.shape)

X_train (140, 3)
X_test (60, 3)
Y_train (140,)
Y_test (60,)

In [25]:
data_80 = train_test_split(ds.drop('sales',1), ds['sales'], train_size=0.8, shuffle=True)
for cds, name in zip(data_80, ['X_train','X_test','Y_train','Y_test']):
    print(name,cds.shape)

X_train (160, 3)
X_test (40, 3)
Y_train (160,)
Y_test (40,)

## 2.Обучать наши модели на трейне. Предсказывать и замерять метрику R^2 и на трейне и на тесте

## 3.Проверить следующие модели, для каждого разделения:

### а) sales ~ log_tv + radio

###  б) sales ~ TV + radio

### в) sales ~ TV + radio + newspaper